* {
    background-color: black;
    color: white;
}
main {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculation {
    background-color: orange;
    padding: 20px;
    color: black;
}

h1, h2 {
    font-family: 'Creepster', cursive;
}

h1 {
    display: flex;
    justify-content: center;
}

.calculation h2 {
    display: flex;
    justify-content: center;
    background-color: orange;
}