main {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculation {
    background-color: orange;
    border: 1px solid black;
    padding: 20px;
}

h1, h2 {
    font-family: 'Creepster', cursive;
}