* {
    background-color: black;
    color: white;
    font-family: 'Creepster', cursive;
}
main {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calculation {
    background-color: orange;
    padding: 20px;
    color: black;
    width: 75%;
    text-align: center;
    margin-left: 85px;
}

.calculation h2 {
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 2rem;
    margin-top: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#add-answer {
    background-color: orange;
    color: black;
    padding-right: 10px;
    padding-left: 5px;
}

.subtraction {
    background-color: orange;
    padding: 20px;
    color: black;
    width: 75%;
    text-align: center;
    margin-top: 25px;
    margin-left: 85px;
}

.subtraction h2 {
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 2rem;
    margin-top: 0px;
}

#sub-answer {
    background-color: orange;
    color: black;
    padding-right: 10px;
    padding-left: 5px;
}

.multiply {
    background-color: orange;
    padding: 20px;
    color: black;
    width: 75%;
    text-align: center;
    margin-top: 25px;
    margin-left: 85px;
}

.multiply h2 {
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 2rem;
    margin-top: 0px;
}

#multiply-answer {
    background-color: orange;
    color: black;
    padding-right: 10px;
    padding-left: 5px;
}

.divide {
    background-color: orange;
    padding: 20px;
    color: black;
    width: 75%;
    text-align: center;
    margin-top: 25px;
    margin-left: 85px;
}

.divide h2 {
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 2rem;
    margin-top: 0px;
}

#divide-answer {
    background-color: orange;
    color: black;
    padding-right: 10px;
    padding-left: 5px;
}